.contacts {
    background: #171717 url(../img/bg.png) repeat;
    font-weight: 300;
    font-size: 20px;
}

.contacts h1 {
    color: #dadada;
}

.contact-cols {
    margin: 70px 0 0;
    display: flex;
}

.contact-col {
    width: 50vw;
    padding: 0 80px;
    box-sizing: border-box;
    margin: 0;
}

.contact-row {
    display: flex;
    list-style: none;
    flex-direction: column;
    text-decoration: none;
    padding: 30px 55px;
    box-sizing: border-box;
    background: #171717;
    border-radius: 5px;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, .05);
}

.contact-col li + li {
    margin-top: 10px;
}

.contact-col label {
    display: block;
    color: #aaa;
    white-space: nowrap;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact-col a {
    display: block;
    color: #dadada;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.contact-col a:hover {
    text-decoration: underline;
}

.contact-dance {
    list-style: none;
    width: 100%;
    height: 200px;
    margin: 50px 0 0;
    background: no-repeat center / contain;
    background-image: url(../img/dance.gif);
}
